@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
}

html,
body,
#root {
  background: #050505;
  color: white;
  overflow: hidden;
}

body {
  margin: 0;
  background:
    radial-gradient(circle at top, rgba(255,255,255,0.03), transparent 30%),
    #050505;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #1f1f1f;
  border-radius: 999px;
}